#### Database Tables 

- A Database usually has got one or more tables, every table has a name
- SQL is a standard language for storing, manipulating and retrieving data in databases.

### Some of The Most Important SQL Commands

- **SELECT** - selects data from a database (Veritabanındaki bilgileri sorgulamak için kullanılır).
- **UPDATE** - updates data in a database (Veritabanındaki bilgiyi yeni bilgiyle güncellemek için kullanılır).
- **DELETE** - deletes data from a database (Veritabanındaki bilgiyi silmek için kullanılır).
- **DROP TABLE** - deletes a table (Veritabanında bulunan bir tabloyu silmek için kullanılır).
- **CREATE TABLE** - creates a new table (Veritabanında yeni bir tablo oluşturmak için kullanılır).
- **ALTER TABLE** - modifies a table (Mevcut bir tabloyu veya tablodaki sütunları değiştirmek için kullanılır).
- **CREATE DATABASE** - creates a new database (Yeni bir veritabanı oluşturursunuz).
- **INSERT INTO** - inserts new data into a database (Veritabanına yeni veriler eklemek için kullanılır).

### SQL SELECT 

The **SELECT** statement is used to **select** data from a database.

### In SQL 



-  The **star** allows us to select all the columns from a table.

```sql
SELECT * 
```


- The *Semicolon* shows the end of a SQL statement

```sql
SELECT * FROM Table_1;
```
- It also allows us to run more than one SQL Statement in the same call.

```sql
SELECT * FROM Table_1;
SELECT * FROM Table_1;
```


Let's say we have a database called **African_Countries** and this database has got a table called **Country_Details** and we want to select data from it.

| CountryID | Name           | Region         | Population | Currency         | Staple_Food               |
|-----------|----------------|----------------|------------|------------------|---------------------------|
| 1         | Nigeria        | West Africa    | 223 million | Nigerian Naira   | Jollof Rice               |
| 2         | Kenya          | East Africa    | 54 million  | Kenyan Shilling  | Ugali (Maize porridge)    |
| 3         | Egypt          | North Africa   | 109 million | Egyptian Pound   | Aish Baladi (Flatbread)   |
| 4         | South Africa   | Southern Africa| 60 million  | South African Rand | Pap (Maize porridge)      |
| 5         | Ghana          | West Africa    | 32 million  | Ghanaian Cedi    | Fufu (Cassava/Yam)        |



**To select all the columns from the table above**

```sql
SELECT * FROM Country_Details;
```

SQL also allows us to select specific columns from the table as shown below

```sql
SELECT column1, column2, ...
FROM table_name;
```

Using our Country_Details table,

```sql
SELECT Name, Staple_Food
FROM Country_Details;
```

The result of this **SELECT** statement would be:

| Name          | Staple Food               |
|---------------|---------------------------|
| Nigeria       | Jollof Rice               |
| Kenya         | Ugali (Maize porridge)    |
| Egypt         | Aish Baladi (Flatbread)   |
| South Africa  | Pap (Maize porridge)      |
| Ghana         | Fufu (Cassava/Yam)        |

### WHERE Clause

The **WHERE** clause is used to filter records.

It is used to get records that meet a specific condition

* Quotes are used when selecting records that are in text format but not numeric

| CountryID | Name           | Region          | Population (millions) | Currency           | Staple_Food               |
|-----------|----------------|-----------------|-----------------------|--------------------|---------------------------|
| 1         | Nigeria        | West Africa     | 223                   | Nigerian Naira     | Jollof Rice               |
| 2         | Kenya          | East Africa     | 54                    | Kenyan Shilling    | Ugali (Maize porridge)    |
| 3         | Egypt          | North Africa    | 109                   | Egyptian Pound     | Aish Baladi (Flatbread)   |
| 4         | South Africa   | Southern Africa | 60                    | South African Rand | Pap (Maize porridge)      |
| 5         | Ghana          | West Africa     | 32                    | Ghanaian Cedi      | Fufu (Cassava/Yam)        |

##### Using our table above

1. 
```sql
SELECT * FROM Country_Details
WHERE Population > 100;
```

Returns all the columns where the population is greater than 100 million

| CountryID | Name    | Region       | Population (millions) | Currency         | Staple_Food             |
|-----------|---------|--------------|-----------------------|------------------|-------------------------|
| 1         | Nigeria | West Africa  | 223                   | Nigerian Naira   | Jollof Rice             |
| 3         | Egypt   | North Africa | 109                   | Egyptian Pound   | Aish Baladi (Flatbread) |


2. 

```sql
SELECT Currency, Region FROM Country_Details
WHERE Name ='South Africa';
```

| Currency           | Region          |
|--------------------|-----------------|
| South African Rand | Southern Africa |


Returns the South African Rand and Southern Africa as shown above

##### Some common operators that can be used in the WHERE clause

* = means Equal 
* `>` means Greater than 
* `<` means Less than
* `>=` means Greater than or equal
* <= means Less than or equal
* <>  means Not equal

### ORDER BY

* The **ORDER BY** keyword is used to sort the results in ascending or descending order.
* Although SQL sorts in ascending order by default you can use the keyword **ASC**:
* To sort in descending order use the **DESC** keyword.

| CountryID | Name           | Region          | Population (millions) | Currency           | Staple_Food               |
|-----------|----------------|-----------------|-----------------------|--------------------|---------------------------|
| 1         | Nigeria        | West Africa     | 223                   | Nigerian Naira     | Jollof Rice               |
| 2         | Kenya          | East Africa     | 54                    | Kenyan Shilling    | Ugali (Maize porridge)    |
| 3         | Egypt          | North Africa    | 109                   | Egyptian Pound     | Aish Baladi (Flatbread)   |
| 4         | South Africa   | Southern Africa | 60                    | South African Rand | Pap (Maize porridge)      |
| 5         | Ghana          | West Africa     | 32                    | Ghanaian Cedi      | Fufu (Cassava/Yam)        |

### using our table again

1. 

```sql
SELECT * FROM Country_Details
ORDER BY Population DESC ;
```


| CountryID | Name           | Region          | Population (millions) | Currency           | Staple_Food               |
|-----------|----------------|-----------------|-----------------------|--------------------|---------------------------|
| 1         | Nigeria        | West Africa     | 223                   | Nigerian Naira     | Jollof Rice               |
| 3         | Egypt          | North Africa    | 109                   | Egyptian Pound     | Aish Baladi (Flatbread)   |
| 4         | South Africa   | Southern Africa | 60                    | South African Rand | Pap (Maize porridge)      |
| 2         | Kenya          | East Africa     | 54                    | Kenyan Shilling    | Ugali (Maize porridge)    |
| 5         | Ghana          | West Africa     | 32                    | Ghanaian Cedi      | Fufu (Cassava/Yam)        |

Returns results ordered by population in descending order

2. 

```sql
SELECT * FROM Country_Details
ORDER BY Name ASC ;
```

| CountryID | Name           | Region          | Population (millions) | Currency           | Staple_Food               |
|-----------|----------------|-----------------|-----------------------|--------------------|---------------------------|
| 3         | Egypt          | North Africa    | 109                   | Egyptian Pound     | Aish Baladi (Flatbread)   |
| 5         | Ghana          | West Africa     | 32                    | Ghanaian Cedi      | Fufu (Cassava/Yam)        |
| 2         | Kenya          | East Africa     | 54                    | Kenyan Shilling    | Ugali (Maize porridge)    |
| 1         | Nigeria        | West Africa     | 223                   | Nigerian Naira     | Jollof Rice               |
| 4         | South Africa   | Southern Africa | 60                    | South African Rand | Pap (Maize porridge)      |


Returns results sorted by Name in alphabetical order