### Select All

Query all columns (attributes) for every row in the **CITY** table.

In [ ]:
SELECT * FROM CITY;

### Revising the Select Query I

Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA.

In [ ]:
SELECT * FROM CITY
WHERE COUNTRYCODE = 'USA' AND POPULATION > 100000;

### Revising the Select Query II

Query the **NAME** field for all American cities in the **CITY** table with populations larger than **120000**. The CountryCode for America is USA.

In [ ]:
SELECT NAME FROM CITY
WHERE COUNTRYCODE = 'USA' AND POPULATION > 120000;

### Select By ID

Query all columns for a city in CITY with the ID 1661.

In [ ]:
SELECT * FROM CITY
WHERE ID = 1661;

### Japanese Cities' Attributes

Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

In [ ]:
SELECT * FROM CITY
WHERE COUNTRYCODE = 'JPN';

### Japanese Cities' Names

Query the **names** of all the Japanese cities in the **CITY** table. The **COUNTRYCODE** for **Japan** is JPN.

In [ ]:
SELECT NAME FROM CITY
WHERE COUNTRYCODE = 'JPN';

### Weather Observation Station 1

Query a list of **CITY** and **STATE** from the **STATION** table.

In [ ]:
SELECT STATION.CITY,STATION.STATE FROM STATION;

### Weather Observation Station 3

Query a list of CITY names from STATION for cities that have an even ID number. Print the results in any order, but exclude duplicates from the answer.

In [ ]:
SELECT DISTINCT(CITY) FROM STATION
WHERE MOD(ID,2)=0;

### Weather Observation Station 4

Find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

In [ ]:
SELECT COUNT(CITY) - COUNT(DISTINCT(CITY))  FROM STATION;

### Weather Observation Station 5

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

In [ ]:
SELECT CITY, LENGTH(CITY) AS LEN FROM STATION ORDER BY LENGTH(CITY) ASC, CITY ASC LIMIT 1;

SELECT CITY, LENGTH(CITY) AS LEN FROM STATION ORDER BY LENGTH(CITY) DESC, CITY ASC LIMIT 1;

# Weather Observation Station 6

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [ ]:
SELECT CITY FROM STATION
WHERE CITY LIKE 'A%' or CITY LIKE 'E%' or CITY LIKE 'I%' or CITY LIKE 'O%' or CITY LIKE 'U%';

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE LEFT(CITY,1) IN ('a','o','e','i','u');

### Weather Observation Station 7
Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE RIGHT(CITY,1) IN ('a','o','e','i','u');

### Weather Observation Station 8
Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE LEFT(CITY,1) IN ('a','o','e','i','u') AND RIGHT(CITY,1) IN ('a','o','e','i','u');

### Weather Observation Station 9
Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE LEFT(CITY,1) NOT IN ('a','o','e','i','u');

### Weather Observation Station 10

Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE RIGHT(CITY,1) NOT IN ('a','o','e','i','u');

### Weather Observation Station 11

Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE LEFT(CITY,1) NOT IN ('a','o','e','i','u') OR RIGHT(CITY,1) NOT IN ('a','o','e','i','u');

### Weather Observation Station 12

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE LEFT(CITY,1) NOT IN ('a','o','e','i','u') AND RIGHT(CITY,1) NOT IN ('a','o','e','i','u');

### Higher Than 75 Marks

Query the Name of any student in STUDENTS who scored higher than  Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

In [ ]:
SELECT NAME FROM STUDENTS
WHERE  MARKS > 75
ORDER BY RIGHT(NAME,3) ASC,ID ASC;

### Employee Names

Write a query that prints a list of employee names (i.e.: the name attribute) from the Employee table in alphabetical order.

In [ ]:
SELECT NAME FROM EMPLOYEE ORDER BY NAME ASC;

### Employee Salaries

Write a query that prints a list of employee names (i.e.: the name attribute) for employees in **Employee** having a salary greater than $2000 per month who have been employees for less than 10 months. Sort your result by ascending employee_id.

In [ ]:
SELECT NAME FROM EMPLOYEE WHERE SALARY > 2000 AND MONTHS < 10;

### Revising Aggregations - The Count Function

Query a count of the number of cities in CITY having a Population larger than 100,000

In [ ]:
SELECT COUNT(COUNTRYCODE) AS COUNT FROM CITY
WHERE POPULATION > 100000;